<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <head th:replace="~{common/head}"></head>
    <title>Update User Page</title>
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Update User</h3>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/admin/user/update}" method="post" th:object="${updateUser}">
                            <div class="mb-3">
                                <input type="hidden" th:field="*{id}" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Email:</label>
                                <input type="email" class="form-control" th:field="*{email}" required />
                                <div th:if="${#fields.hasErrors('email')}" style="color: red;" th:errors="*{email}">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Full Name:</label>
                                <input type="text" class="form-control" th:field="*{fullName}" required />
                                <div th:if="${#fields.hasErrors('fullName')}" style="color: red;"
                                    th:errors="*{fullName}"></div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Role</label>
                                <select id="roleSelect" name="roleId" class="form-select" required>
                                    <option value="">Select Role</option>
                                    <option th:each="role : ${roles}" th:value="${role.id}"
                                        th:selected="${role.id == updateUser.roleId}" th:text="${role.name}"></option>
                                </select>
                            </div>

                            <div id="staffTypeGroup" class="mb-3" style="display: none;">
                                <label class="form-label">Staff Type:</label>
                                <select th:field="*{staffType}" class="form-select">
                                    <option value="RECEPTIONIST">Receptionist</option>
                                    <option value="SHIPPER">Shipper</option>
                                    <option value="MANAGER">Manager</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Status:</label>
                                <select th:field="*{status}" class="form-select">
                                    <option value="true">Active</option>
                                    <option value="false">Non-active</option>
                                </select>
                                <div th:if="${#fields.hasErrors('status')}" class="text-danger" th:errors="*{status}">
                                </div>
                            </div>

                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <a th:href="@{/admin/user}" class="btn btn-secondary me-md-2">Cancel</a>
                                <button type="submit" class="btn btn-primary">Update User</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const roleSelect = document.getElementById("roleSelect");
            const staffTypeGroup = document.getElementById("staffTypeGroup");
            function toggleFieldsByRole() {
                if (!roleSelect) return;
                const selectedText = roleSelect.options[roleSelect.selectedIndex].text.toUpperCase();

                if (selectedText === "STAFF") {
                    staffTypeGroup.style.display = "block";
                } else {
                    staffTypeGroup.style.display = "none";
                }
            }
            roleSelect.addEventListener("change", toggleFieldsByRole);
            toggleFieldsByRole();
        });
    </script>
</body>

</html>