<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <head th:replace="~{common/head}"></head>

    <title>Dashboard</title>
</head>

<body>
    <div th:replace="~{component/header}"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-lg-2 p-0">
                <div th:replace="~{admin/layout/sidebar}"></div>
            </div>
            <main class="col-md-9 col-lg-10 ms-sm-auto px-md-4">
                <div>
                    DASHBOARD PAGE
                </div>
            </main>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>