<footer class="container-fluid footer">
    <div class="footer-img">
        <a href="" class="footer-img__logo">
            <img class="img-responsive" src="./img/LogoJB_New-02.png" alt="">
        </a>
    </div>
    <div class="footer-text">
        <div class="row">
            <div class="col-4 address ">
                <p>CÔNG TY TNHH FPT VIỆT NAM</p>
                <p>Address: Lầu 5, tòa nhà SCIC, 16 Trương Định, Phường Võ Thị Sáu, Quận 3, Tp. Hồ Chí Minh, Việt Nam
                </p>
                <p>Phone: (028) 39309168</p>
                <p>Email: <a href="">fpt@gmail.com</a></p>
                <p>Gửi phản hồi đến cửa hàng <a href=""><b>TẠI ĐÂY</b></a></p>
                <p>Gửi phản hồi đến Trụ sở chính Jollibee Việt Nam <b><a href="">TẠI ĐÂY</a></b></p>
            </div>
            <div class="col-sm-8">
                <div class="col-12 col-sm-6 text-center phone">
                    <p class="number">
                        <a href="" title="GIAO HÀNG TẬN NƠI MIỄN PHÍ">
                            <img src="./img/delivery-lg.png" alt="" class="img-responsive">
                        </a>
                    </p>
                </div>
                <div class="col-12 col-sm-6 text-center">
                    <p class="text-uppercase">HÃY KẾT NỐI VỚI CHÚNG TÔI</p>
                    <a href="" class="footer-icon">
                        <i class="fa-brands fa-facebook-f"></i>

                    </a>
                    <a href="" class="footer-icon">
                        <i class="fa-brands fa-google"></i>
                    </a>
                    <div class="col-md-12">
                        <a href="">
                            <img class="confirm-logo" src="./img/bocongthuong.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-12">
                    <ul class="list-inline list-page">
                        <li><a href="">Chính sách và quy định chung</a></li>
                        <li><a href="">Chính sách hoạt động</a></li>
                        <li><a href="">Liên hệ</a></li>
                    </ul>
                </div>
                <div class="col-12">
                    <ul class="list-inline list-page">
                        <li><a href="">Chính sách thanh toán khi đặt hàng</a></li>
                    </ul>
                </div>
                <div class="col-12">
                    <ul class="list-inline list-page">
                        <li><a href="">Hướng dẫn đặt phần ăn</a></li>
                    </ul>
                </div>
                <div class="col-12">
                    <ul class="list-inline list-page">
                        <li><a href="">Thông tin vận chuyển và giao nhận</a></li>
                    </ul>
                </div>
                <div class="col-12">
                    <ul class="list-inline list-page">
                        <li><a href="">Thông tin đăng ký giao dịch chung</a></li>
                    </ul>
                </div>
                <div class="col-12">
                    <ul class="list-inline list-page">
                        <li><a href="">Chính sách bảo mật thông tin</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>