<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
    <div class="container py-5">
        <div class="row g-5">

            <div class="col-lg-4 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Golden Chicken</h4>
                    <p class="mb-3">
                        Chuyên cung cấp gà rán giòn rụm, nóng hổi mỗi ngày.
                        Đặt hàng nhanh - giao tận nơi - ngon chuẩn vị!
                    </p>
                    <a href="/menu" class="btn border-secondary py-2 px-4 rounded-pill text-secondary">
                        Xem menu
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="d-flex flex-column footer-item">
                    <h4 class="text-light mb-3">Danh mục</h4>
                    <a class="btn-link" href="/menu?cat=ga-gion">Gà rán</a>
                    <a class="btn-link" href="/menu?cat=ga-gion">Combo tiết kiệm</a>
                    <a class="btn-link" href="/menu?cat=burger">Burger gà</a>
                    <a class="btn-link" href="/menu?cat=ga-sot">Gà sốt</a>
                    <a class="btn-link" href="/menu?cat=nuoc-uong">Nước uống</a>
                </div>
            </div>

            <!-- Liên hệ -->
            <div class="col-lg-4 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Liên hệ</h4>
                    <p>Địa chỉ: Cần Thơ, Việt Nam</p>
                    <p>Email: GoldenChicken@gmail.com</p>
                    <p>Hotline: 16180339887</p>
                    <p>Giao hàng nhanh 30 phút </p>
                </div>
            </div>

        </div>
    </div>
</div>

<div th:replace="~{component/chat-widget :: chat-widget}"></div>
<div th:replace="~{component/ai-assistant :: ai-assistant}"></div>

</html>