<html lang="en" xmlns:th="http://www.thymeleaf.org">

<header class="header navbar navbar-expand-lg " aria-label="Offcanvas navbar large">
    <div class="container-fluid ">
        <button class="navbar-toggler col-4 col-lg-2  " type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="header-logo col-4 col-lg-2">
            <a class="navbar-brand logo-img" href="./trang-chu.html">
                <img src="./img/LogoJB_New-02.png" alt="">
            </a>
        </div>
        <div class="navbar-body ">
            <div class="user ">
                <a href="#" class="user-login btn-icon show-modal">
                    <i class="fa-solid fa-user "></i>
                </a>
                <span>
                    <a th:href="@{/register}" class="login-item">Đăng ký/</a>
                    <a th:href="@{/login}" class="login-item">Đăng nhập</a>
                </span>
                <Span class="lang ">
                    <a href="" class="lang-item active-lang">VN</a>
                    |
                    <a href="" class="lang-item">ENG</a>
                </Span>
            </div>
            <div class="navbar-list">
                <div class="">
                    <ul class="navbar-nav justify-content-center flex-grow-1 ">
                        <li class="navbar-item">
                            <a class="navbar-link active" aria-current="page" href="./trang-chu.html">TRANG CHỦ</a>
                        </li>
                        <li class="navbar-item">
                            <a class="navbar-link" href="./vejollibee.html">VỀ JOLLIBEE</a>
                        </li>
                        <li class="navbar-item children">
                            <a class="navbar-link " th:href="@{/menu}">
                                THỰC ĐƠN
                            </a>
                            <div class="menu-list">
                                <ul class="text-center">
                                    <li class="menu-item">
                                        <a th:href="@{/menu}" class="menu-item__img">
                                            <img class="menulist-img" src="./img/mon-moi-mon-ngon.png" alt="">
                                        </a>
                                        <h5>COMBO</h5>
                                    </li>
                                    <li class="menu-item">
                                        <a th:href="@{/menu}" class="menu-item__img">
                                            <img class="menulist-img" src="./img/ga-gion-vui-ve.png" alt="">
                                        </a>
                                        <h5>GÀ GIÒN VUI VẺ</h5>
                                    </li>
                                    <li class="menu-item">
                                        <a th:href="@{/menu}" class="menu-item__img">
                                            <img class="menulist-img" src="./img/ga-sot-cay.png" alt="">
                                        </a>
                                        <h5>GÀ SỐT CAY</h5>
                                    </li>
                                    <li class="menu-item">
                                        <a th:href="@{/menu}" class="menu-item__img">
                                            <img class="menulist-img" src="./img/mi-y.png" alt="">
                                        </a>
                                        <h5>MÌ Ý SỐT BÒ BẰM</h5>
                                    </li>
                                    <li class="menu-item">
                                        <a th:href="@{/menu}" class="menu-item__img">
                                            <img class="menulist-img" src="./img/burger-sandwich.png" alt="">
                                        </a>
                                        <h5>BUEGER & CƠM</h5>
                                    </li>
                                    <li class="menu-item">
                                        <a th:href="@{/menu}" class="menu-item__img">
                                            <img class="menulist-img" src="./img/phan-an-phu.png" alt="">
                                        </a>
                                        <h5>PHẦN ĂN PHỤ</h5>
                                    </li>
                                    <li class="menu-item">
                                        <a th:href="@{/menu}" class="menu-item__img">
                                            <img class="menulist-img" src="/img/mon-trang-mieng.png" alt="">
                                        </a>
                                        <h5>MÓN TRÁNG MIỆNG</h5>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="navbar-item">
                            <a class="navbar-link " aria-current="page" href="./khuyenmai.html">KHUYẾN MÃI</a>
                        </li>
                        <li class="navbar-item">
                            <a class="navbar-link " aria-current="page" href="./dichvu.html">DỊCH VỤ</a>
                        </li>
                        <li class="navbar-item">
                            <a class="navbar-link " aria-current="page" href="./tintuc.html">TIN TỨC</a>
                        </li>
                        <li class="navbar-item">
                            <a class="navbar-link " aria-current="page" href="./cuahang.html">CỬA HÀNG</a>
                        </li>
                        <li class="navbar-item">
                            <a class="navbar-link " aria-current="page" href="./Trang_lienhe.html">LIÊN HỆ</a>
                        </li>
                        <li class="navbar-item">
                            <a class="navbar-link active" aria-current="page" href="./tuyendung.html">TUYỂN DỤNG</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="delivery col-4 col-lg-2">
            <a href="" class="delivery-logo">
                <img class="devivery-img" src="./img/delivery.png" alt="">
            </a>
        </div>
    </div>
</header>