<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Update Role Page</title>

    <head th:replace="~{common/head}"></head>
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Update Role</h3>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/admin/permission/update}" method="post" th:object="${permission}">
                            <div class="mb-3">
                                <input type="hidden" th:field="*{id}" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Name</label>
                                <input type="text" class="form-control" th:field="*{name}" required />
                                <div th:if="${#fields.hasErrors('name')}" style="color: red;" th:errors="*{name}"></div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">API Path</label>
                                <input type="text" class="form-control" th:field="*{apiPath}" required />
                                <div th:if="${#fields.hasErrors('apiPath')}" style="color: red;" th:errors="*{apiPath}">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Method</label>
                                <input type="text" class="form-control" th:field="*{method}" required />
                                <div th:if="${#fields.hasErrors('method')}" style="color: red;" th:errors="*{method}">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Module</label>
                                <input type="text" class="form-control" th:field="*{module}" required />
                                <div th:if="${#fields.hasErrors('module')}" style="color: red;" th:errors="*{module}">
                                </div>
                            </div>

                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <a th:href="@{/admin/permission}" class="btn btn-secondary me-md-2">Cancel</a>
                                <button type="submit" class="btn btn-primary">Update Permission</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>