<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create Voucher</title>
    <link rel="stylesheet" th:href="@{/css/voucher.css}">
</head>

<body>

    <div class="voucher-container">
        <h2 class="page-title">Tạo mới</h2>

        <div th:if="${errorMessage}" class="error-box" th:text="${errorMessage}">
        </div>
        <form class="voucher-form" th:action="@{/staff/voucher/create}" th:object="${voucher}" method="post">

            <div class="form-group">
                <label>Code <span style="color: red"> *</label>
                <input type="text" th:field="*{code}" required />
                <div class="field-error" th:if="${#fields.hasErrors('code')}" th:errors="*{code}">
                </div>
            </div>

            <div class="form-group">
                <label>Tên<span style="color: red"> *</label>
                <input type="text" th:field="*{name}" required />
                <div class="field-error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                </div>
            </div>

            <div class="form-group full">
                <label>Mô tả<span style="color: red"> *</label>
                <input type="text" th:field="*{description}" required />

                <div class="field-error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
                </div>
            </div>

            <div class="form-group">
                <label>Loại giảm<span style="color: red"> *</label>
                <select th:field="*{discountType}" required>
                    <option value="">-- Chọn --</option>
                    <option value="PERCENT">PERCENT</option>
                    <option value="FIXED">FIXED</option>
                </select>
                <div class="field-error" th:if="${#fields.hasErrors('discountType')}" th:errors="*{discountType}">
                </div>
            </div>
            <div class="form-group">
                <label>Loại giảm giá<span style="color: red"> *</label>
                <select th:field="*{voucherType}" required>
                    <option value="">-- Chọn --</option>
                    <option value="PRODUCT">PRODUCT</option>
                    <option value="SHIPPING">SHIPPING</option>
                </select>
                <div class="field-error" th:if="${#fields.hasErrors('voucherType')}" th:errors="*{voucherType}">
                </div>
            </div>
            <div class="form-group">
                <label>Giá trị giảm<span style="color: red"> *</label>

                <div style="display:flex; align-items:center; gap:8px;">
                    <input type="number" id="discountValue" th:field="*{discountValue}" min="0" required />
                    <span id="discountUnit">%</span>
                </div>

                <small id="discountHint" style="color:#777">
                    Nhập % (0 — 100)
                </small>

                <div class="field-error" th:if="${#fields.hasErrors('discountValue')}" th:errors="*{discountValue}">
                </div>
            </div>

            <div class="form-group">
                <label>Đơn tối thiểu<span style="color: red"> *</label>
                <input type="number" step="0.01" th:field="*{minOrderValue}" min="0" required />
                <div class="field-error" th:if="${#fields.hasErrors('minOrderValue')}" th:errors="*{minOrderValue}">
                </div>
            </div>

            <div class="form-group exchange-field" th:style="${voucher.exchangeable == null or !voucher.exchangeable} ? 'display: none' : ''">
                <label>Điểm đổi<span style="color: red"> *</span></label>
                <input type="number" id="pointCost" th:field="*{pointCost}" min="0" required />
                <div class="field-error" th:if="${#fields.hasErrors('pointCost')}" th:errors="*{pointCost}">
                </div>
            </div>
            <div class="form-group exchange-field" th:style="${voucher.exchangeable == null or !voucher.exchangeable} ? 'display: none' : ''">
                <label>Số lượng<span style="color: red"> *</span></label>
                <input type="number" id="quantity" th:field="*{quantity}" min="0" required />
                <div class="field-error" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">
                </div>
            </div>
            <div class="checkbox-group">
                <label>Cho phép đổi điểm<span style="color: red">*</span></label>
                <input type="checkbox" id="exchangeable" th:field="*{exchangeable}" />
            </div>
            <div class="form-group">
                <label>Ngày bắt đầu:<span style="color: red"> *</label>
                <input type="datetime-local" th:field="*{startAt}" required />
                <div class="field-error" th:if="${#fields.hasErrors('startAt')}" th:errors="*{startAt}">
                </div>
            </div>

            <div class="form-group">
                <label>Ngày kết thúc:<span style="color: red"> *</label>
                <input type="datetime-local" th:field="*{endAt}"
                    th:attr="min=${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd''T''HH:mm')}" required />
                <div class="field-error" th:if="${#fields.hasErrors('endAt')}" th:errors="*{endAt}">
                </div>
            </div>


            <div class="form-actions">
                <button type="submit">Tạo mới</button>
                <a class="btn-cancel" th:href="@{/staff/voucher/list}">Dừng</a>
            </div>
        </form>
    </div>
    <script th:src="@{/js/voucher.js}"></script>
</body>

</html>