<aside class="sidebar" th:fragment="sidebar">
    <h3>Quản lý tài khoản</h3>
    <nav class="nav" style="display: flex; flex-direction: column;">
        <a th:href="@{/profile}">Cài đặt</a>
        <a th:href="@{/order-history}" th:if="${session.roleName == 'CUSTOMER'}">Đơn Hàng</a>
        <a th:href="@{/addresses}" th:if="${session.roleName == 'CUSTOMER'}">Địa Chỉ</a>
        <a th:href="@{/vouchers}" th:if="${session.roleName == 'CUSTOMER'}">Điểm</a>
        <a th:href="@{/list-vouchers}" th:if="${session.roleName == 'CUSTOMER'}">Voucher</a>
    </nav>
</aside>