/* dropdown container */
.menu-dropdown {
    position: relative;
}

.mega-menu {
    position: absolute;
    top: 100%;

    left: 50%;
    transform: translateX(-50%) translateY(15px);

    width: 1400px;
    background: white;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    padding: 30px 0;

    opacity: 0;
    visibility: hidden;

    transition: all 0.3s ease;
    z-index: 999;
}

.menu-dropdown:hover .mega-menu {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}

.mega-container {
    display: flex;
    justify-content: center;
    gap: 60px;
}

/* category item */
.mega-item {
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.mega-item:hover {
    transform: translateY(-5px);
}

/* image */
.mega-img img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 12px;
    transition: 0.3s;
}

.mega-item:hover img {
    transform: scale(1.08);
}

/* title */
.mega-item h6 {
    margin-top: 10px;
    font-weight: 600;
}

.menu-list ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* 6 item mỗi hàng */
    gap: 20px;
    list-style: none;
    padding: 20px;
    margin: 0;
}

.menu-list {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    background: #fff;
    border-radius: 20px;
    /* bo tròn */
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);

    padding: 10px 0;
    min-width: 900px;

    overflow: hidden;
}

.menu-item {
    text-align: center;
}

.menulist-img {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.navbar .nav-link.active {
    color: #ffb524 !important;
}

.navbar .nav-link:hover {
    color: #ffb524;
}

.navbar .nav-link {
    transition: 0.3s;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.logout-btn {
    border: none;
    background: transparent;
    width: 100%;
    text-align: left;
}