<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <head th:replace="~{common/head}"></head>
    <title>Role List</title>
</head>

<body>
    <div th:replace="~{component/header}"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-lg-2 p-0">
                <div th:replace="~{admin/layout/sidebar}"></div>
            </div>
            <main class="col-md-9 col-lg-10 ms-sm-auto px-md-4">
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h3>Role Management</h3>
                                    <a th:href="@{/admin/role/create}" class="btn btn-primary">Create New Role</a>
                                </div>
                                <div class="card-body">
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <input type="text" id="searchName" class="form-control"
                                                    placeholder="Search by name..." th:value="${searchName}">
                                                <button class="btn btn-outline-primary" type="button"
                                                    onclick="handleSearch()">
                                                    Search
                                                </button>
                                                <a href="/admin/role" class="btn btn-outline-dark">Reset</a>

                                            </div>
                                        </div>
                                    </div>
                                    <form th:action="@{/admin/role/import}" method="post" enctype="multipart/form-data">
                                        <input type="hidden" th:name="${_csrf.parameterName}"
                                            th:value="${_csrf.token}" />

                                        <div class="mb-3">
                                            <label class="form-label">Choose file Excel (.xlsx):</label>
                                            <div style="font-style: italic;">Ex: Name, Description</div>
                                            <input type="file" name="file" class="form-control" accept=".xlsx, .xls"
                                                required />
                                        </div>
                                        <button type="submit" class="btn btn-success">Upload And Save</button>
                                    </form>
                                    <div th:if="${errorMessage != null}" class="alert alert-danger" role="alert"
                                        th:text="${errorMessage}">
                                    </div>
                                    <div th:if="${roles != null and !roles.isEmpty()}">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="role : ${roles}">
                                                    <td th:text="${role.id}"></td>
                                                    <td th:text="${role.name}"></td>
                                                    <td th:text="${role.description}"></td>
                                                    <td>
                                                        <div style="display: flex; gap:6px">
                                                            <a th:href="@{/admin/role/update/{id}(id=${role.id})}"
                                                                class="btn btn-sm btn-warning">Edit</a>
                                                            <form th:action="@{/admin/role/delete/{id}(id=${role.id})}"
                                                                method="POST">
                                                                <button type="submit"
                                                                    class="btn btn-sm btn-danger">Delete</button>
                                                                <input type="hidden" th:name="${_csrf.parameterName}"
                                                                    th:value="${_csrf.token}" />
                                                            </form>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="d-flex justify-content-center mt-3">
                                            <nav aria-label="Page navigation">
                                                <ul class="pagination">
                                                    <li th:class="|page-item ${meta.page == 1 ? 'disabled' : ''}|">
                                                        <a class="page-link"
                                                            th:href="@{/admin/role(page=${meta.page - 1}, size=${meta.pageSize}, filter=${param.filter})}">Previous</a>
                                                    </li>

                                                    <li th:each="p : ${#numbers.sequence(1, meta.pages)}"
                                                        th:class="|page-item ${meta.page == p ? 'active' : ''}|">
                                                        <a class="page-link"
                                                            th:href="@{/admin/role(page=${p}, size=${meta.pageSize}, filter=${param.filter})}"
                                                            th:text="${p}"></a>
                                                    </li>

                                                    <li
                                                        th:class="|page-item ${meta.page == meta.pages ? 'disabled' : ''}|">
                                                        <a class="page-link"
                                                            th:href="@{/admin/role(page=${meta.page + 1}, size=${meta.pageSize}, filter=${param.filter})}">Next</a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                    <div th:if="${roles == null or roles.isEmpty()}" style="text-align: center;">
                                        Not Found Role!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function handleSearch() {
            const name = document.getElementById("searchName").value;
            const urlParams = new URLSearchParams(window.location.search);

            if (name && name.trim() !== "") {
                urlParams.set('filter', "name ~~ '" + name.trim() + "'");
            } else {
                urlParams.delete('filter');
            }

            urlParams.set('page', '1');

            window.location.href = window.location.pathname + "?" + urlParams.toString();
        }
        document.getElementById("searchName").addEventListener("keypress", function (event) {
            if (event.key === "Enter") {
                handleSearch();
            }
        });
    </script>
</body>

</html>