<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Update Category Page</title>

    <head th:replace="~{common/head}"></head>
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Update Category</h3>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/staff/category/update}" method="post" th:object="${category}">
                            <div class="mb-3">
                                <input type="hidden" th:field="*{id}" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Name</label>
                                <input type="text" class="form-control" th:field="*{name}" required />
                                <div th:if="${#fields.hasErrors('name')}" style="color: red;" th:errors="*{name}"></div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Description</label>
                                <input type="text" class="form-control" th:field="*{description}" required />
                                <div th:if="${#fields.hasErrors('description')}" style="color: red;"
                                    th:errors="*{description}"></div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Status:</label>
                                <select th:field="*{status}" class="form-select">
                                    <option value="true">Active</option>
                                    <option value="false">Non-active</option>
                                </select>
                                <div th:if="${#fields.hasErrors('status')}" style="color: red;" th:errors="*{status}">
                                </div>
                                <div th:if="${errorMessage != null}" class="alert alert-danger"
                                    th:text="${errorMessage}">
                                </div>
                            </div>

                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <a th:href="@{/staff/category}" class="btn btn-secondary me-md-2">Cancel</a>
                                <button type="submit" class="btn btn-primary">Update Category</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>